<h1 mat-dialog-title>Añadir nuevo huevo</h1>
<div mat-dialog-content>
    <form [formGroup]="taskForm">
        <mat-hint class="aviso">Playing play station isnt a task, Abdam</mat-hint>

        <mat-form-field appearance="outline">
            <mat-label>Task name</mat-label>
            <input formControlName="taskName" matInput placeholder="Wash dish">
        </mat-form-field>

        <mat-hint>Abdam is only 6 years old, dont put stupid tasks, Mehdi</mat-hint>
        <mat-form-field appearance="outline">
            <mat-label>Who will perform the task?</mat-label>
            <mat-select formControlName="taskParticipants">
                <mat-option *ngFor="let member of familyMembers" [value]="member">
                    {{ member }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-hint>Abdam is only 6 years old, dont put stupid tasks, Mehdi</mat-hint>
        <mat-form-field appearance="outline">
            <mat-label>Task difficulty:</mat-label>
            <mat-select formControlName="taskDifficulty">
                <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">
                    {{ difficulty }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-hint class="aviso"> No Abdam, Math homework isnt supposed to be hard! </mat-hint>
        <mat-form-field appearance="outline">
            <mat-label>Task priority (1 is more important than 100)</mat-label>
            <input formControlName="taskPriority" autocomplete="off" matInput type="number" placeholder="Priority">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label> For when is the task meant to be finished?</mat-label>
            <input formControlName="taskDeadline" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-hint></mat-hint>

        <mat-form-field appearance="outline">
            <mat-label>Additional comments</mat-label>
            <textarea formControlName="taskComments" autosize matInput></textarea>
        </mat-form-field>

        <mat-label>
            <h2>Who is the best, most genuine and beatiful member of the family?</h2>
        </mat-label>

        <mat-radio-group>
            <mat-radio-button disabled [value]="'Anjali'">Indian wife Anjali </mat-radio-button>
            <mat-radio-button disabled [value]="'Abdam'"> Indian child Abdam </mat-radio-button>
            <mat-radio-button disabled [value]="'Mehdi'"> Indian father Mehdi </mat-radio-button>
            <mat-radio-button checked [value]="'Brownie'"> Indian camel pet Brownie </mat-radio-button>

        </mat-radio-group>
        <mat-hint> Obviamente Brownie, no hay más </mat-hint>

    </form>

</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="warn" mat-raised-button color="primary" (click)="saveData()"> {{ action
        }}</button>
</div>