<div class="family-view">
    <h1 class="title">{{ familyMembers[selectedMember].name }}</h1>
    <h3 class="subtitle">{{ familyMembers[selectedMember].description }}</h3>
    <img src="{{ familyMembers[selectedMember].image }}" alt="Cool image">
</div>

<button (click)="move(-1)" class="arrow-left" mat-icon-button color="primary"
    aria-label="Example icon button with a home icon">
    <mat-icon class="arrow-icon">keyboard_arrow_left</mat-icon>
</button>

<button (click)="move(1)" class="arrow-right" mat-icon-button color="primary"
    aria-label="Example icon button with a home icon">
    <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
</button>