<div class="family-view">
    <h1 class="title">Mehdi</h1>
    <h3 class="subtitle">Descripción crema</h3>
    <img src="../../assets/images/Brownie.gif" alt="Cool image">
</div>

<button class="arrow-left" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
    <mat-icon class="arrow-icon">keyboard_arrow_left</mat-icon>
</button>

<button class="arrow-right" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
    <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
</button>