table 
  width: 100%


.mat-form-field 
  font-size: 1rem
  width: 100%

td, th 
  width: auto
  padding-right: 2rem
  padding-left: 2rem
  text-align: center

::ng-deep .mat-sort-header-container 
  display: flex
  justify-content: center
